body {
	align-items: center;
	text-align: center;
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    word-wrap: break-word;
}
.content {
    margin:10px;
    margin-top:20px;
}

.center {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.left-box {
    display: inline-block;
    width: 30%;
    height: 500px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}
.left-box:hover {
    color:chartreuse;
}
.middle-box {
    display: inline-block;
    width:30%;
    height:500px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}
.middle-box:hover {
    color:chartreuse;
}
.right-box {
    display: inline-block;
    width:30%;
    height:500px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}
.right-box:hover {
    color:chartreuse;
}

a {color: rgb(73, 193, 248);text-decoration: none;}
a:active, a:hover:active {color: rgb(255, 179, 255);}
a:hover {color: rgb(255, 121, 255);}



.pagetitle, .backbutton, .R74nicon {display: inline-block;margin:0px;vertical-align: middle;margin-left:10px}
.pagetitle, .ShulkerLogo {font-size:4.5vw}
.backbutton {font-size:60px}
.pagetitle {margin-left: 10px;}
.ShulkerLogo {height:50px;width:50px;transition:3s;}

b {font-weight:bold;}
i {font-style:italic;}

img, audio, video {vertical-align:middle;max-width:100%}


.ShulkerLogo:hover {
    filter:hue-rotate(3600deg);
    transition:30s;
}

textarea, input[type=text], input[type=number] {
    background-color: rgb(107,107,107);
    color: rgb(255,255,255);
    border-radius: 15px;
    border-style: none;
    outline: 0;
    padding: 10px;
}
input[type=number] {width:100px}
textarea:focus {
    box-shadow: 0 0 3pt 2pt rgb(31, 31, 31);
}
textarea {
    max-width:80%;
}
select {
    background-color: rgb(107,107,107);
    color: rgb(255,255,255);
    border-radius: 15px;
    border-style: none;
    outline: 0;
    padding: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}

hr {
    border: 1px solid rgb(53, 53, 53);
    margin-left:50px;
    margin-right:50px;
    margin-bottom:30px;
    margin-top:30px;
}

/*.lidesc {margin-left:10px;}*/
.lidesc, dd {font-style:italic;}
.lidesc::before, dd::before {content:"↳ "}
.cw[open="false"] {cursor:pointer;background-color:rgb(39, 39, 39);padding:5px;border-radius:20px;line-height:2;}
.cw[open="false"]:active {background-color:rgb(61, 61, 61);}
.cw[open="true"] {transition:0.5s;}
.desc {display:block;margin-left:10px;}
.desc::before {content:"↳ "}
/*.wordtxt {}*/
.wordsep {color:rgb(85, 85, 85);}
.wordcom {color:lightgray}
.worddef {color:lightgray;font-style:italic;}
.wordlist {white-space:pre-wrap;margin-left:10px;margin-left:40px;}
.wordline {margin-left: -20px;text-indent: 10px;}
.toc {margin:0px;}

.divblock {display:inline-block;margin:0.4rem;padding:0.4rem;vertical-align:middle;max-width:500px;}

table {border-collapse:collapse}
td, th {border:0.5px solid gray;padding:5px;padding-left:10px}
th {background-color:#00ffff;color:black}
tr:nth-child(odd){background-color: #272727;}

.linkcategory {color:yellow}