/* General Settings */

header {
    color: rgb(200, 200, 200);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    align-items: center;
    text-align: center;
    background-color: rgb(43, 43, 43);
    background-size: 500%;
    color: rgb(200, 200, 200);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    word-wrap: break-word;
    padding: 6%;
}

code {
    color: rgb(0, 255, 0);
}

.content {
    margin: 10px;
    margin-top: 20px;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Links */

a {
    color: rgb(73, 193, 248);
    text-decoration: none;
}

a:active,
a:hover:active {
    color: rgb(255, 179, 255);
}

a:hover {
    color: rgb(255, 121, 255);
}



/* Title Settings */

.ShulkerLogoText {
    font-size: 4.5vw;
    color: rgb(73, 193, 248);
}

.ShulkerLogoText:hover {
    filter: hue-rotate(3600deg);
    transition: 30s;
}

.ShulkerLogo {
    display: flex;
    justify-content: center;
}

/* Divider Settings */

hr {
    border: 1px solid rgb(53, 53, 53);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}


/* Button Settings */

button.button {
    align-items: center;
    background-color: rgb(86, 86, 86);
    border: 0px solid #ffffff;
    border-radius: 200px;
    box-sizing: border-box;
    color: rgb(0, 255, 0);
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 50%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button.button:hover {
    background-color: rgb(43, 43, 43);
    border-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .button {
        font-size: 20px;
        min-width: 200px;
        padding: 14px 16px;
    }
}


/* Table Settings */

td,
th {
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    text-align: left;
    table-layout: fixed;
}

th {
    background-color: rgb(86, 86, 86);
    color: rgb(0, 255, 0);
    height: 70px;
}

td {
    color: rgb(200, 200, 200);
}

table {
    border-collapse: collapse;
}

td:hover {
    background-color: rgb(85, 85, 85);
}

input[type=search] {
    color: aqua;
}

select {
    color: rgb(0, 255, 0);
}


/* NBT Settings */

pre {
    display: block;
    position: relative;
    font-family: Consolas, "courier new";
    color: rgb(0, 255, 0);
    background-color: rgb(23, 23, 23);
    padding: 1.75rem 0 1.75rem 1rem;
    font-size: 66%;
    white-space: pre-wrap;
}

pre button {
    position: absolute;
    background-color: rgb(23, 23, 23);
    border: 0px solid #ffffff;
    color: rgb(0, 255, 0);
    top: 5px;
    right: 5px;
}

pre button:hover {
    border: 2px solid;
    border-color: rgb(0, 255, 0);
    border-radius: 5px;
}

a[download]:link {
    color: rgb(0, 140, 255);
    text-decoration: underline;
}

a[download]:hover,
a[download]:focus {
    color: rgb(255, 121, 255);
    text-decoration: none;
}


/* Denoted List Settings */

dt,
dd {
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    text-align: left;
}


/* Using NBT */

html {
    scroll-behavior: smooth;
}

nav.UsingNBT {
    padding-right: 0;
    border-right: 1px solid #efefef;
}

nav.UsingNBT a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #ccc;
    transition: all 50ms ease-in-out;
}

nav.UsingNBT a:hover,
nav.UsingNBT a:focus {
    color: rgb(73, 193, 248);
}

nav.UsingNBT li.active > a {
    color: rgb(0, 255, 0);
    font-weight: 500;
}

nav.UsingNBT ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav.UsingNBT ul {
    list-style: symbols(cyclic "∖");
}

nav.UsingNBT li {
    margin-left: 1rem;
}

main.UsingNBT > nav {
    position: sticky;
    top: 2rem;
    align-self: start;
}

main.UsingNBT {
    display: grid;
    grid-template-columns: 15em 1fr;
    max-width: 100em;
    width: 90%;
}

body.UsingNBT {
    align-items: center;
    text-align: center;
    background-color: rgb(43, 43, 43);
    background-size: 500%;
    color: rgb(200, 200, 200);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    word-wrap: break-word;
    padding: 3%;
}

body.UsingNBT > h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

section.UsingNBT > h2,
section.UsingNBT > h3 {
    color: rgba(0, 255, 255, 0.850);
}

section.UsingNBT {
    align-items: left;
    text-align: left;
    font-size: 22px;
    margin: 60px;
}

section.UsingNBT li {
    margin-left: 2rem;
}

section.UsingNBT code {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 121, 255);
}


/* NBT Lint */

textarea {
    display: block;
    background: rgba(0, 0, 0, 0.07);
    color: #00855d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color 0.2s ease 0s;
    outline: none;
}

textarea:focus {
    background: rgba(70, 70, 70, 0.07);
}

#validate {
    margin: 5px 0;
    align-items: center;
    background-color: rgb(73, 193, 248);
    border: 0px solid #ffffff;
    border-radius: 200px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 50%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#validate:hover {
    background-color: #153b44;
    border-color: rgb(255, 255, 255);
}

#nbt {
    display: block;
    margin: 10px;

}

#controls {
    display: block;
    margin: 10px;
    width: 300px;
    padding: 10px;
    background: rgba(21.5, 21.5, 21.5, 0.8);
}

input {
    display: inline-block;
}

#controls label {
    display: block;
    padding: 0.2em 0;
    padding-left: 75px;
    position: relative;
}

#controls label input,
#controls label select {
    width: 70px;
    position: absolute;
    left: 0;
}

#controls label input[type="checkbox"] {
    top: 6.2px;
}


/* Footer Settings */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: rgb(30, 255, 0);
    text-align: center;
    font-family: 'Lucida Console';
    font-size: 14px;
}