/* Global */

:root {
    --background: rgb(32, 35, 36);
    --altbackground: rgb(65, 70, 73);
    --text: rgb(200, 200, 200);
    --alttext: rgb(0, 255, 0);
    --altalttext: rgb(0, 255, 255);
    --tableborder: rgb(48, 52, 54);
    --usingnbtdiv: rgb(53, 57, 59);
}


/* General Settings */

header {
    color: rgb(200, 200, 200);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    align-items: center;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    word-wrap: break-word;
    padding: 6%;
}

code {
    color: var(--alttext);
}

.content {
    margin: 20px 10px 10px;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Links */

a {
    color: rgb(73, 193, 248);
    text-decoration: none;
}

a:active,
a:hover:active {
    color: rgb(255, 179, 255);
}

a:hover {
    color: rgb(255, 121, 255);
}

a[download]:link {
    color: rgb(0, 140, 255);
    text-decoration: underline;
}

a[download]:hover,
a[download]:focus {
    color: rgb(255, 121, 255);
    text-decoration: none;
}


/* Title Settings */

.ShulkerLogoText {
    font-size: 4.5vw;
    color: rgb(73, 193, 248);
}

.ShulkerLogoText:hover {
    filter: hue-rotate(3600deg);
    transition: 30s;
}

.ShulkerLogo {
    display: flex;
    justify-content: center;
}

/* Divider Settings */

hr {
    border: 1px solid rgb(53, 53, 53);
    margin: 30px 50px;
}


/* Button Settings */

button.button {
    align-items: center;
    background-color: var(--altbackground);
    border: 0;
    border-radius: 200px;
    box-sizing: border-box;
    color: var(--alttext);
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 50%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button.button:hover {
    background-color: var(--background);
}

@media (min-width: 768px) {
    .button {
        font-size: 20px;
        min-width: 200px;
        padding: 14px 16px;
    }
}


/* Table Settings */

td,
th {
    border: 1px solid var(--tableborder);
    padding: 15px;
    text-align: left;
    table-layout: fixed;
}

th {
    background-color: var(--altbackground);
    color: var(--alttext);
    height: 70px;
}

td {
    color: var(--text);
}

table {
    border-collapse: collapse;
    white-space: normal;
}

td:hover {
    background-color: var(--altbackground);
}

input[type=search] {
    color: var(--altalttext);
}

select {
    color: var(--alttext);
}

tfoot tr.cus-footer th{
    background: var(--background);
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid var(--text);
    background: var(--background);
    color: var(--altalttext);
}


/* Denoted List Settings */

dt,
dd {
    padding: 15px;
    text-align: left;
}


/* Using NBT & Resources */

html {
    scroll-behavior: smooth;
}

nav.Resources,
nav.UsingNBT {
    padding-right: 0;
    border-right: 1px solid var(--usingnbtdiv);
}

nav.Resources a,
nav.UsingNBT a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: var(--text);
    transition: all 50ms ease-in-out;
}

nav.Resources a:hover,
nav.Resources a:focus,
nav.UsingNBT a:hover,
nav.UsingNBT a:focus {
    color: rgb(73, 193, 248);
}

nav.Resources li.active > a,
nav.UsingNBT li.active > a {
    color: rgb(0, 255, 0);
    font-weight: 500;
}

nav.Resources ol,
nav.UsingNBT ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav.Resources ul,
nav.UsingNBT ul {
    list-style: symbols(cyclic "∖");
}

nav.Resources li,
nav.UsingNBT li {
    margin-left: 1rem;
}

main.Resources > nav,
main.UsingNBT > nav {
    position: sticky;
    top: 2rem;
    align-self: start;
}

main.Resources,
main.UsingNBT {
    display: grid;
    grid-template-columns: 15em 1fr;
    max-width: 100em;
    width: 90%;
}

body.Resources,
body.UsingNBT {
    padding: 3%;
}

body.Resources > h1,
body.UsingNBT > h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

section.Resources > h2,
section.UsingNBT > h2 {
    color: rgba(0, 255, 255, 0.850);
}

section.Resources,
section.UsingNBT {
    text-align: left;
    font-size: 22px;
    margin: 60px;
}

section.Resources li,
section.UsingNBT li {
    margin-left: 2rem;
}

section.Resources code,
section.UsingNBT code {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 121, 255);
}


/* NBT Lint */

textarea {
    display: block;
    background: rgba(0, 0, 0, 0.07);
    color: rgb(0, 133, 93);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color 0.2s ease 0s;
    outline: none;
}

textarea:focus {
    background: rgba(70, 70, 70, 0.07);
}

#validate {
    margin: 5px 0;
    align-items: center;
    background-color: var(--altbackground);
    border: 0;
    border-radius: 200px;
    box-sizing: border-box;
    color: var(--alttext);
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 50%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#validate:hover {
    background-color: var(--background);
}

#nbt {
    display: block;
    margin: 10px;

}

#controls {
    display: block;
    margin: 10px;
    width: 300px;
    padding: 10px;
    background: rgba(21.5, 21.5, 21.5, 0.8);
}

input {
    display: inline-block;
}

#controls label {
    display: block;
    padding: 0.2em 0 0.2em 75px;
    position: relative;
}

#controls label input,
#controls label select {
    position: absolute;
    left: 0;
    color: var(--alttext);
    background-color: var(--background);
    border: 0;
}

#controls select option {
    background-color: var(--background);
}
#controls label input[type="checkbox"] {
    top: 6px;
    width: 70px;
}

#controls label input[type="number"] {
    width: 70px;
}


/* Footer Settings */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: var(--alttext);
    text-align: center;
    font-family: 'Lucida Console', sans-serif;
    font-size: 14px;
}
